/* Estilos para o corpo da página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff; /* Cor do texto */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 95vh; /* Garante que o body ocupe toda a altura visível */
    background: linear-gradient(to top right, #000631 0%, #222 100%); /* Gradiente linear azul escuro para preto */
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none; /* Remove o sublinhado */
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}

nav ul li a:hover {
    color: #FF5733; /* Altera a cor do texto quando hover */
}

.languages a {
    color: white;
    margin-right: 10px;
    transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}

.languages a:hover {
    color: #FF5733; /* Altera a cor do texto quando hover */
}

/* Estilos para os textos traduzidos */
.hello,
.developer,
.description {
    transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
    color: white; /* Cor padrão */
}

.hello, .hello .highlight,
.developer, .developer .highlight {
    color: #FF5733; /* Cor para destacar o nome */
}


/* Estilos para a caixa de texto */
.text-box {
    border-radius: 20px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra */
    margin: 20px; /* Margem externa */
    backdrop-filter: blur(5px); /* Adiciona um efeito de desfoque ao fundo */
}

.text-box p {
    opacity: 1; /* Mantém a opacidade do texto */
}

/* Estilos para o conteúdo */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.content {
    max-width: 600px;
}

.content span {
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgba(19, 18, 18, 0.5); /* Adiciona um brilho sutil ao redor do título */
}

/* Estilos para o nome "Clive Kifumbi" */
.highlight {
    font-size: 60px; /* Tamanho da fonte maior */
    color: #FF5733; /* Cor para destacar o nome */
}

.content .highlight {
    color: #FF5733; /* Cor para destacar o nome */
}

h1 {
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 0 5px rgba(19, 18, 18, 0.5); /* Adiciona um brilho sutil ao redor do título */
}

.content h2 {
    font-size: 24px;
    margin-top: 10px;
}


.photo {
    margin-left: auto; /* Mover a foto para o lado direito */
}

.photo img {
    max-width: 400px; /* Ajustar o tamanho da foto */
    height: auto;
    border-radius: 50%; /* Deixa a foto redonda */
}

/* Estilos para o rodapé */
footer {
    position: fixed; /* Fixa o rodapé na parte inferior */
    left: 0; /* Alinha o rodapé à esquerda */
    bottom: 0; /* Alinha o rodapé na parte inferior */
    width: 100%; /* Garante que o rodapé ocupe toda a largura da página */
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-icons a {
    margin-right: 20px;
    filter: brightness(1.2); /* Adiciona brilho aos ícones */
    color: white;
    text-decoration: none;
    transition: filter 0.3s ease; /* Adiciona uma transição suave para o filtro */
}

.social-icons a:hover {
    filter: brightness(1.5); /* Aumenta o brilho quando hover */
}

.bandeira {
    width: 30px; /* Defina o tamanho desejado */
    height: auto;
}

/* Estilos para o botão "Baixar CV" */
.btn-cv {
    padding: 10px 20px;
    background-color: #111; /* Azul escuro */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves */
    cursor: pointer; /* Alteração do cursor */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Adiciona um brilho sutil ao redor do texto */
    border: 2px solid #FFA500; /* Adiciona uma borda ao botão */
    display: block; /* Altera o botão para exibição em bloco */
    margin: 20px auto 0 auto; /* Margem superior, automática nos lados (centraliza horizontalmente) e 20px no topo */
}

.btn-cv:hover {
    background-color: #FFA500; /* Amarelo alaranjado */
    color: black;
    text-align: center;
    margin-top: 20px;
}


/* Estilos para o conteúdo da página About */

.about-content {
    background-color: #111; /* Cor de fundo mais escura */
    padding: 50px; /* Espaçamento interno */
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra */
    margin: 20px; /* Margem externa */
}

.about-content h1 {
    font-size: 36px; /* Tamanho do título */
    margin-bottom: 20px; /* Espaçamento inferior */
    color: #FF5733; /* Cor do título */
}

.about-content p {
    font-size: 18px; /* Tamanho do texto */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.about-content ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.about-content ul li {
    margin-bottom: 10px; /* Espaçamento inferior entre os itens da lista */
    font-size: 16px; /* Tamanho do texto dos itens da lista */
}

/* Estilos para a seção de habilidades */
.skills-list {
    display: flex; /* Exibe os itens da lista em linha */
    flex-wrap: wrap; /* Permite que os itens da lista quebrem para a próxima linha se não couberem */
    justify-content: center; /* Alinha os itens da lista ao centro */
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o preenchimento padrão da lista */

}

.skills-list li {
    background-color: #333; /* Cor de fundo dos itens da lista */
    color: #fff; /* Cor do texto dos itens da lista */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    margin: 5px; /* Margem entre os itens */
}

/* Estilos para a seção de habilidades - quando hover */
.skills-list li:hover {
    background-color: #FF5733; /* Cor de fundo ao passar o mouse */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
}

/* Estilos para a seção "Sobre Mim" */
.about-section {
    margin-bottom: 40px; /* Espaçamento inferior */
}

/* Estilos para a seção de habilidades */
.skills-section {
    margin-top: 40px; /* Espaçamento superior */
}


.skills-list li i {
    margin-right: 10px; /* Espaçamento à direita do ícone */
}


/* Estilos para a seção da mensagem inspiradora */
.inspirational-message {
    margin-bottom: 40px; /* Espaçamento inferior */
}

.inspirational-message p {
    font-style: italic; /* Coloca a mensagem em itálico */
    text-align: center; /* Centraliza o texto */
    color: #555; /* Cor do texto */
}

/* Estilos para a seção do formulário de contato */
.contact-form {
    margin-top: 40px; /* Espaçamento superior */
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px; /* Espaçamento inferior */
    font-weight: bold; /* Deixa o texto em negrito */
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form textarea {
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ccc; /* Borda sólida com cor cinza */
}

.contact-form input[type="submit"] {
    padding: 10px 20px; /* Espaçamento interno */
    background-color: #FF5733; /* Cor de fundo laranja */
    color: #fff; /* Cor do texto branco */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.contact-form input[type="submit"]:hover {
    background-color: #FF8C66; /* Cor de fundo mais clara quando hover */
}
